@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*-----------------Body---------------------------------*/

body{
    color: whitesmoke;
    background-color: rgb(36, 36, 36);
    font-family: 'Roboto', sans-serif;
    margin: 5%;
}

/*-------------------Header------------------------------*/

h1{
    text-align: center;
}

/*---------------------Main-------------------------------*/

#steve{
    text-align: center;
}

.photo{
    text-align: center;
    margin: auto;
}

h2{
    text-align: center;
    margin: 10px 20px;
}

/*-------------------Tableau-------------------------------*/

.tab{
    margin: 0 auto;
    position: static;
    padding: auto;
}

table{
    align-items: center;
    border-style: solid;
    border-color: black;
    width: 50%;
  }

tr, td{
      border-style: solid;
      border-color: rgb(20, 20, 20);
      background-color: rgb(17, 17, 17);
      width: 150px;
      text-align: center;
  }

/*------------------Gif-------------------------------------*/

.cgif {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.gif{
    height: 50%;
    width: 50%;
    min-height: 10%;
    min-width: 10%;
}

/*------------------------footer----------------------------*/

.btn{
    position: static;
    text-align: center;
}

.btnh:hover{
    position: static;
    width: 25px;
    align-items: center;
}

/*----------------------Animation de TEXTE CSGO-----------------------*/

.arcencielanim {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: arcenciel_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes arcenciel_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}